.portfolio-table-container {
    @apply overflow-scroll;
}

.portfolio-table {
    @apply border-collapse m-0 p-0 w-full table-fixed;

    .currency-right-symbol {
        @apply text-app-sm;
    }

    thead {
        @apply desktop:sticky desktop:top-0 z-10;
    }

    tr {
        @apply text-app-text-secondary px-app-xs cursor-pointer;
        @apply desktop:sticky desktop:top-0;
    }
    tr:hover {
        @apply bg-app-purple transition-all ease-in-out duration-150;
    }

    th,
    td {
        @apply border-b border-b-app-purple-forth p-app-sm text-center;
    }

    th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 600px) {
    .portfolio-table {
        border: 0;

        thead {
            @apply border-none h-[1px] m-[-1px] overflow-hidden p-0 absolute w-[1px];
        }

        tr {
            @apply border border-app-purple-forth block mb-app-sm;
        }

        td {
            @apply border-b border-b-app-purple-forth;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        td::before {
            /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }
    }
}