.statistic-baner-container {
    @apply flex;
}

.portfolio-left-section-wrapper {
    @apply flex bg-app-purple rounded-app-s desktop:mr-app-sm mt-app-sm desktop:mt-0 ;
    flex-grow: 3;
    flex-shrink: 3;

    /* This come from the index.css file :root */
    flex-basis: calc(4 * var(--basis-app-sm));
}

.portfolio-right-section-wrapper {
    @apply flex flex-col rounded-lg desktop:ml-app-sm mb-app-sm desktop:mb-0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}