.statistic-baner-container {
    @apply flex;
}

.portfolio-left-section-wrapper {
    @apply flex h-[410px] bg-app-purple rounded-app-s desktop:mr-app-sm mt-app-sm desktop:mt-0;
    @apply desktop:grow-app-3 desktop:shrink-app-3;
    @apply p-app-lg;

    /* This come from the index.css file :root */
    @apply desktop:basis-[calc(4_*_var(--basis-app-sm))];;
    
}

.portfolio-right-section-wrapper {
    @apply flex flex-col rounded-lg desktop:ml-app-sm mb-app-sm desktop:mb-0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}