@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --basis-app-sm: 10px;
  --basis-app-base: 14px;
  --basis-app-lg: 18px;
  --basis-app-xl: 24px;
}

body {
  @apply flex bg-app-background-primary font-app-font-family-primary;
}

.custom-gradient-primary {
  background: rgb(40, 42, 82);
  background: linear-gradient(90deg, rgba(40, 42, 82, 1) 5%, rgba(54, 57, 105, 1) 43%, rgba(52, 55, 102, 1) 52%, rgba(40, 42, 82, 1) 93%);
}

.custom-gradient-secondary {
  background: rgb(53, 56, 102);
  background: linear-gradient(133deg, rgba(53, 56, 102, 1) 5%, rgba(36, 38, 76, 1) 55%);
}

#root {
  @apply flex flex-1 justify-center;
}

.container {
  @apply flex-1 px-app-lg max-w-[1800px];
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}